@use 'font';

@use 'var';

@use './normalize';

body {
  font-family: var.$font;
  font-weight: 400;
  background-color: #1f2023;
  color: var.$lightColor;
  overflow-x: hidden;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

.course__title {
  font-weight: 1000;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 71px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 27px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var.$accentColor;
  }

  &__logo {
    padding: 17px 45px 0px 45px;
    background-color: var.$accentColor;
    border-radius: 10px 0 0 0;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 26px;
      height: 24px;
      background-image: url('../images/header-bottom-left.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -24px;
      left: 0;
    }
    &::after {
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url('../images/header-left.svg');
      position: absolute;
      right: -67px;
      top: 0;
    }
  }
  &__link {
    color: var.$lightColor;
    font-size: 20px;
    background-color: var.$accentColor;
    padding: 17px 45px 0px 14px;
    border-radius: 0 10px 0 0;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 26px;
      height: 24px;
      background-image: url('../images/header-bottom-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -24px;
      right: 0;
    }
    &::after {
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url('../images/header-right.svg');
      position: absolute;
      left: -67px;
      top: 0;
    }
  }
}

.container {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.banner {
  display: flex;
  background-image: url('../images/bg-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var.$br-max;
  padding: 100px 50px;
  margin-top: 135px;
  margin-bottom: 150px;
  gap: 50px;
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 61%;
  }
  &__info {
    flex-basis: calc(39% - 50px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    border: 1px solid var.$lightColor;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    height: 151px;
    margin-right: 50px;
    padding: 30px;
    transition: var.$tr;
    &:hover {
      background-color: var.$accentColor;
      border-color: var.$accentColor;
      &::after {
        opacity: 1;
      }
      .banner__decor {
        background-color: var.$accentColor;
        border-color: var.$accentColor;
      }
    }
    & + & {
      margin-top: 20px;
    }
    &::before {
      top: 0;
      right: -80px;
      position: absolute;
      display: block;
      content: '';
      width: 80px;
      height: 153px;
      background-image: url('../images/banner-info-decor.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &::after {
      top: 0;
      right: -80px;
      position: absolute;
      display: block;
      content: '';
      width: 80px;
      height: 153px;
      background-image: url('../images/banner-info-decor-hover.svg');
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0;
      transition: var.$tr;
    }
  }
  &__text {
    font-weight: 250;
    font-size: 24px;
    span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      margin-top: 12px;
    }
  }
  &__decor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -86px;
    border: 1px solid var.$lightColor;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: var.$tr;
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__button {
    cursor: pointer;
    background-color: var.$accentColor;
    color: var.$lightColor;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: var.$br-min;
    padding: 30px 30px 30px 30px;
    width: 100%;
    min-height: 130px;
    border: 1px solid var.$accentColor;
    transition: var.$tr;
    @media (hover: hover) {
      &:hover {
        border: 1px solid var.$accentColor;
        background-color: transparent;
      }
    }
  }
}

.banner-box {
  border: 1px solid var.$lightColor;
  border-radius: var.$br-min;
  position: relative;
  padding: 30px 332px 30px 30px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
  }
  &__image {
    position: absolute;
    &_electroguitar {
      top: -68px;
      right: -20px;
    }
  }
}

.tag {
  margin-bottom: 150px;
  display: flex;
  gap: 65px;
  animation: move-left 20s infinite linear alternate;
  &:hover {
    animation-play-state: paused;
  }

  &__text {
    font-weight: 250;
    font-size: 24px;
    color: var.$greyColor;
    position: relative;
    border: 1px solid var.$greyColor;
    border-radius: var.$br-max;
    padding: 10px 20px;

    &::before {
      content: '';
      display: block;
      background-color: var.$accentColor;
      border-radius: 100%;
      top: 14px;
      left: -36px;
      width: 16px;
      height: 16px;
      height: calc(50% - 8px);
      position: absolute;
      background-repeat: no-repeat;
    }
  }
}

@keyframes move-left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

.course {
  display: flex;
  gap: 70px;
  margin-bottom: 166px;
  // потом убрать
  &__wrapper {
    flex-basis: 395px;
  }
  &__content {
    flex-basis: calc(100% - 395px - 70px);
    width: calc(100% - 395px - 70px);
  }
  &__control {
    margin-top: 40px;
  }
}

.slider-teacher {
  &__item {
    background-color: var.$darkColor;
  }
}

.course-control {
  display: flex;
  align-items: center;
  gap: 20px;
  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid var.$lightColor;
    background-color: transparent;
    border-radius: 100%;
    position: inherit;
    transition: var.$tr;
    &:hover {
      background-color: var.$accentColor;
      border-color: var.$accentColor;
    }
    &::after {
      content: '';
      display: block;
      width: 49px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__prev::after {
    background-image: url('../images/ui/arrow-left.svg');
  }

  &__next::after {
    background-image: url('../images/ui/arrow-right.svg');
  }
}

.slider-teacher {
  &__item {
    height: 707px;
    background-color: var.$darkColor;
    border: 1px solid var.$darkColor;
    border-radius: var.$br-max;
    position: relative;
    overflow: hidden;
    transition: var.$tr;
    &:hover {
      border-color: var.$accentColor;
      .slider-teacher__name,
      .slider-teacher__grid {
        opacity: 1;
      }
    }
  }
  &__grid {
    max-width: none;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var.$tr;
  }
  &__image {
    width: 100%;
    height: 637px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
  }
  &__name {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    color: var.$lightColor;
    position: absolute;
    bottom: 30px;
    left: 30px;
    opacity: 0;
    transition: var.$tr;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 637px;
      position: absolute;
      background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 59.08%);
      left: -30px;
      bottom: -30px;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.coourse__schedule {
  margin-top: 42px;
}

.accordion {
  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var.$lightColor;
    font-weight: 400;
    font-size: 32px;
    color: var.$accentColor;
    border-radius: var.$br-min;
    border: none;
    margin-bottom: 22px;
    padding: 20px 20px 20px 30px;
    &::after {
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      background-image: url('../images/ui/plus-button.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &.active {
      &::after {
        background-image: url('../images/ui/minus-button.svg');
      }
    }
  }
  &__list {
    background-color: var.$lightColor;
    padding: 30px 50px;
    border-radius: var.$br-min;
  }
  &__item {
    font-weight: 300;
    font-size: 24px;
    color: var.$darkColor;
    border-bottom: 1px solid var.$greyColor;
    padding-bottom: 20;
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }
  &__panel {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }
}

.steps {
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid var.$greyColor;
  border-radius: var.$br-max;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #1f2023 0%, #7027e2 50%, #1f2023 100%);
  &__list {
    margin-top: 42px;
    gap: 30px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    padding: 36px 25px 30px 30px;
    background-color: white;
    border: 1px solid var.$lightColor;
    border-radius: var.$br-max;
  }
  &__icon {
    margin-bottom: 26px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var.$darkColor;
  }
}

.result {
  margin-bottom: 150px;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 45px;
  }
  &__item {
    border-radius: var.$br-min;
    padding: 22px;
    background-color: var.$lightColor;
    &--subgrid {
      grid-column: 2 / 5;
      display: grid;
      grid-template-columns: subgrid;
      align-items: center;
      grid-template-rows: 130px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var.$darkColor;

    span {
      background-color: var.$accentColor;
      border-radius: 10px;
      padding: 10px;
      width: fit-content;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.1;
      color: var.$lightColor;
    }
  }
  &__button {
    grid-column: 2 / 4;
    align-self: stretch;
    cursor: pointer;
    background-color: var.$accentColor;
    color: var.$lightColor;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: var.$br-min;
    padding: 30px 30px 30px 30px;
    border: 1px solid var.$accentColor;
    transition: var.$tr;
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
        color: var.$accentColor;
      }
    }
  }
}

.areas {
  margin-bottom: 150px;
  &__link {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    color: var.$lightColor;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid var.$accentColor;
    background-color: transparent;
    padding: 30px;
    transition: var.$tr;
    border-radius: 0;
    position: relative;

    &:hover {
      background-color: #7027e2;
      border-radius: 10px;
      &::before {
        opacity: 1;
        transform: scale(1);
      }
      &::after {
        transform: rotate(45deg);
      }
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
    &::before {
      position: absolute;
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      transition: var.$tr;
      transform: scale(0);
      left: 770px;
      opacity: 0;
    }
    &--acoustic-guitar {
      &::before {
        width: 534px;
        height: 284px;
        background-image: url('../images/areas/acoustic-guitar.png');
        top: calc(50% - 142px);
     
      }
    }
    &--drums {
      &::before {
        width: 398px;
        height: 350px;
        background-image: url('../images/areas/drums.png');
        top: calc(50% - 175px);
      }
    }
    &--violin {
      &::before {
        width: 547px;
        height: 429px;
        background-image: url('../images/areas/violin.png');
        top: calc(50% - 214px);
      }
    }
    &--bas-guitar {
      &::before {
        width: 530px;
        height: 375px;
        background-image: url('../images/areas/bas-guitar.png');
        top: calc(50% - 187px);
      }
    }
    &::after {
      display: block;
      content: '';
      width: 26px;
      height: 26px;
      background-image: url('../images/ui/arrow-rotate.svg');
      background-repeat: no-repeat;
      background-size: cover;
      transition: var.$tr;
    }
  }
}
